<% include partials/header %>

<div class="container--home">
  <h2 class="sub-heading--home">Welcome to the Mountain App</h2>
</div>





<h4><a href='/mountains'>Enter<i class="fas fa-door-open"></i></a></h4>

<% include partials/footer %>